
<h1>{{title}}</h1>

<div class="container">
  <form>

    Número 1: <input type="text" [(ngModel)]="numero1" name="numero1">

    <br><br>

    Número 2: <input type="text" [(ngModel)]="numero2" name="numero2">

    <br><br>

    <input type="submit" value="+" (click)="sumar()" class="btn btn-primary"> 
    <input type="submit" value="-" (click)="restar()" class="btn btn-primary">
    <input type="submit" value="X" (click)="multiplicar()" class="btn btn-primary">
    <input type="submit" value="/" (click)="dividir()" class="btn btn-primary">
  </form>
</div>
<p>Resultado: {{resultado}}</p>
